.BuildControls {
    width: 100%;
    background-color: #ffcc4d;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.BuildControls p {
    font-size: 1rem;
    font-family: "Inter UI Medium";
}

.OrderButton {
    background-color: #dd2e44;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 0.9rem;
    font-family: "Inter UI Medium";
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #77b255;
}

.OrderButton:disabled {
    color: white;
    background-color: #C7C6C6;
    cursor: not-allowed;
    color: #888888;
    font-weight: normal;
    font-size: 0.9rem;
    font-family: "Inter UI Medium";
    border: none;
    border-radius: 5px;
}

.currentPrice {
    font-weight: normal;
    font-size: 0.9rem;
    font-family: "Inter UI Medium";
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}