.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    width: 50px;
    font: inherit;
    margin: 0 5px;
    width: 100px;
    height: 30px;
    font-weight: normal;
    font-size: 0.7rem;
    font-family: "Inter UI Medium";
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    font-family: "Inter UI Medium";
    font-size: 0.8rem;
}

.BuildControl .Less {  
    background-color: #dd2e44;
    color: white;
}

.BuildControl .More {
    background-color: #77b255;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #99703F;
    color: white;
}