.Button {
    outline: none;
    width: 160px;
    height: 45px;
    font-weight: normal;
    font-size: 0.9rem;
    font-family: "Inter UI Medium";
    border: none;
    border-radius: 5px;
    background-color: #39404a;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background-color: #77b255;
}

.Danger {
    background-color: #dd2e44;
}