.Red {
    color: red;
}
.Bold {
    font-weight: bold;
}
.Button{
    background-color: green;
    color: white;
    padding: 8px;
    cursor: pointer;
}
.Button:hover {
    background-color: lightgreen;
    color:black;
}
.Button.Red {
    background-color: red;
}
.Button.Red:hover {
    background-color: rgb(248, 93, 93);
    color: black;
}